#docker-compose.yml (Extended config for DEVELOPMENT env.)
version: '3.6'
services:
  front_angular:
    build:
      context: ./Web/
      dockerfile: Web/SmartHouseWebAngular/Dockerfile
    networks:
      - app-smart-house-network
    ports:
        - ${FRONT_ANGULAR_PORT}:4200
    depends_on:
        - api
  api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - FrontUrlsCors=${FRONT_CORS_URLS}
      - MongoDbLoggerConnection:Connection=mongodb://mongo:27017
      - ConnectionStrings:DefaultConnection=Host=postgres;Port=5432;Database=postgres;Username=postgres;Password=postgres;
    networks:
      - app-smart-house-network
    ports:
      - ${API_PORT}:80
    depends_on: 
      - mongo
      - postgres
  mongo:
    image: mongo:latest
    restart: always
    networks:
        - app-smart-house-network
    ports:
        - ${MONGO_PORT}:27017
  postgres:
    image: postgres:latest
    restart: always
    ports:
        - ${POSTGRESS_PORT}:5432
    networks:
        - app-smart-house-network
    environment:
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_USER: 'postgres'
    volumes:
      - database_data:/var/lib/postgresql/data
volumes:
  database_data:
    driver: local
networks:
  app-smart-house-network:
    driver: bridge
