<div class="card mb-3">
  <div class="card-header" *ngIf="error == null; else errorBlock">
    Wetaher
  </div>
  <div class="card-header" *ngIf="error != null; else errorBlock">
    Wetaher error...
  </div>
  <div class="card-body" *ngIf="error == null">
    <h5 class="card-title">Weather today</h5>
    <p class="card-text">
      City:{{weatherData.city}}, Temperature:{{weatherData.temp}}, Feels like:{{weatherData.feelsLike}}, Pressure:{{weatherData.pressure}}, Humidity:{{weatherData.humidity}}, wind speed:{{weatherData.speedWind}},
      Wind deg:{{weatherData.windDeg}}, Description:{{weatherData.description}}
    </p>
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>
    -->
  </div>
</div>
