<meta charset="utf-8">
<title>
    SmartAdmin WebApp - v4.0
</title>
<meta name="description" content="SmartAdmin WebApp - v4.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<!-- Call App Mode on ios devices -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Remove Tap Highlight on Windows Phone IE -->
<meta name="msapplication-tap-highlight" content="no">
<!-- base css -->
<link rel="stylesheet" media="screen, print" href="~/css/vendors.bundle.css">
<link rel="stylesheet" media="screen, print" href="~/css/app.bundle.css">
<link rel="stylesheet" media="screen, print" href="~/css/theme-demo.css">
<link rel="stylesheet" media="screen, print" href="~/css/site.css">
<link rel="stylesheet" media="screen, print" href="~/css/fa-brands.css">
<link rel="stylesheet" media="screen, print" href="~/css/fa-solid.css">
<!-- Place favicon.ico in the root directory -->
<partial name="_FavIcon" />