<aside class="page-sidebar">
    <partial name="_Logo" />
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <partial name="_NavFilter" />
        <partial name="_NavInfoCard" />
        <cache expires-after="@TimeSpan.FromSeconds(120)">
            <partial name="_PageNavigation" model="@SmartHouseWeb.Models.NavigationModel.Seed" />
        </cache>
        <partial name="_NavFilterMsg" />
    </nav>
    <partial name="_NavFooter" />
</aside>